@import "../_variables.css";

:host {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 242px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #2c2c2c;
  z-index: var(--layer-top);
  border-left: 1px solid #444444;
  font-family: monospace;
  color: #f6f6f6;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 64px;
}

:host .alignments {
  display: flex;
  flex-direction: column;
}

:host .header {
  display: flex;
  justify-content: space-between;
}

:host .row {
  display: flex;
  flex-direction: row;
}

:host .column {
  display: flex;
  flex-direction: column;
}

:host .alignments .content {
  display: flex;
  flex-direction: row;
}

:host .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
  border: none;
  color: #f6f6f6;
}

:host .boh {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}

:host .boh > input {
  box-sizing: border-box;
  cursor: default;
  height: 28px;
  padding: 0 0 0 8px;
  width: 100%;
  border: 1px solid transparent;
  min-width: 0;
  border-radius: 2px;
  color: #ffffff;
  background: none;
  fill: #ffffff;
  padding-block: 1px;
  padding-inline: 2px;
}

:host .boh:hover {
  outline: 1px solid #444444;
}

:host .bohover:hover {
  outline: 1px solid #444444;
}
:host .min-width {
  max-width: fit-content;
}

:host .button:hover {
  background-color: #383838;
}

:host .h32 {
  height: 32px;
}

:host .w32 {
  width: 32px;
}

:host svg path {
  fill: #ffffff;
}

:host .alignments, .sizes-and-borders {
  padding: 8px;
}

:host .header {
  font-weight: bold;
  margin-bottom: 10px;

  > span {
    font-size: 14px;
    align-self: center;
  }
}

:host .content {
  display: flex;
  flex-wrap: wrap;
}

:host .sizes-and-borders label{
  margin-right: 5px;
}

:host .clip input[type="checkbox"] {
  margin-right: 5px;
}

:host .bottom-border {
  padding-left: 12px;
  border-bottom: 1px solid #444444;
}

:host .auto-layout .content {
  justify-content: space-around;
}
