body:not([testing]) [data-selected=true] {
  transition: all 0.15s ease;
}

[data-pseudo-select=true] {
  outline: 4px dashed var(--theme-purple);
}

[data-selected-hide=true][data-selected=true]:after {
  display: none;
}

[data-selected=true][contenteditable=true] {
  caret-color: var(--theme-color);
}

[data-measuring=true] {
  cursor: crosshair;
}

[draggable=true] {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  & :is(a, img) {
    -webkit-user-drag: none !important;
  }
}
